
#rainbow {
  height: 1rem;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, yellow, orange, red, purple, blue, green);
  margin-bottom: .5rem;
}

#red {
  background-color:red;
  color: white;
}

#orange {
  background-color:orange;
  color: white;
}

#purple {
  background-color:purple;
  color: white;
}

#blue {
  background-color:blue;
  color: white;
}

#green {
  background-color:green;
  color: white;
}

p {
  font-family: "Courier Prime";
  font-size: medium;
  line-height: 1.75rem;
}

p strong {
  color: red;
}

p em {
  color: blue;
}

.site-header, .site-footer, h2.footer-heading {
  font-family: "Bebas Neue";
}

p.footer-col {
  font-family: sans-serif;
}
  
.post-title {
  font-size: 3rem;
  margin-bottom: 0;
}

.post-meta, .post-title, .post-link {
  font-family: "Montserrat";
}

.p-name, .dt-published, h1, h2, h3 {
  font-family: "Silkscreen";
}

.post-content h2 {
  padding-top: 1.5rem;
  border-radius: 10px;
  font-size: 40px;
  font-kerning: normal;
  text-indent: 10px;
  margin-top: 3rem;
  box-shadow: 0px 2px black;
}

h3 {
  color: grey;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: darkgray;
  border-bottom-width: 8px;
}

table th {
  border: none;
  background-color: darkgray;
  height: 1rem;
  padding: 1px 2px 2px 2px;
  font-family: "Silkscreen";
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

table tbody {
  border-left-color: red;
}

table th:first-child{
  border-radius:10px 0 0 0;
}

table th:last-child{
  border-radius:0 10px 0 0;
}

table td {
  border: none;
  padding: 20px;
  background-color: lightgray;
}

td img {
  height: 150px;
  object-fit: scale-down;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
  display: table;
  width: 1px;
  float: left;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

figcaption {
  width: 200px;
  caption-side: bottom;
  text-align: center;
  clear: both;
  color: darkgray;
  font-family: "Silkscreen";
  padding-top: 3px;
  line-height: 15px;
}

.gallery-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: darkgray;
  align-content: space-around;
  gap: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.gallery-images div > img {
  width: 150px;
  border-radius: 6px;
}

.gallery-title {
  font-family: "Silkscreen"; 
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-indent: 6px;
}

