// @font-face {
//     font-family: 'MetropolisBlack';
//             src: url('/assets/fonts/metropolis/Metropolis-Black.ttf') format('truetype');
//     font-weight: normal;
//      font-style: normal;
// }

// @font-face {
//   font-family: 'MetropolisMedItalic';
//           src: url('/assets/fonts/metropolis/Metropolis-MediumItalic.ttf') format('truetype');
//   font-weight: normal;
//    font-style: normal;
// }

#rainbow {
  height: 1rem;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, yellow, orange, red, purple, blue, green);
  margin-bottom: .5rem;
}

#red {
  color:red;
}

#orange {
  color:orange;
}

#purple {
  color:purple;
}

#blue {
  color:blue;
}

#green {
  color:green;
}

p {
  font-family: "Courier Prime";
  font-size: medium;
  line-height: 1.5rem;
}

p strong {
  color: red;
}

p em {
  color: blue;
}

.site-header, .site-footer, h2.footer-heading {
  font-family: "Bebas Neue";
}

p.footer-col {
  font-family: sans-serif;
}
  
.post-title {
  font-size: 3rem;
  margin-bottom: 0;
}

.post-meta, .post-title, .post-link {
  font-family: "Montserrat";
}

.p-name, .dt-published, h1, h2, h3 {
  font-family: "Silkscreen";
}

h2 {
  padding-top: 2rem;
}

h3 {
  color: grey;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: orange;
  border-bottom-width: 8px;
}

table th {
  border: none;
  background-color: orange;
  height: 1rem;
  padding: 1px 2px 2px 2px;
  font-family: "Silkscreen";
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

table tbody {
  border-left-color: red;
}

table th:first-child{
  border-radius:10px 0 0 0;
}

table th:last-child{
  border-radius:0 10px 0 0;
}

table td {
  border: none;
  padding: 20px;
  background-color: rgb(249, 224, 190);
}

td img {
  height: 150px;
  object-fit: scale-down;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}